

.hero-div {
    margin-top: 100px;
}
.hero-text {
font-weight: 700;
font-size: 45px;
line-height: 60px;
color: #010947;
}

.hero-text-span {
    color: #18A0FB;
}

.hero-text-p {
    margin: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.btn-getstarted {
    margin-top: 40px;
}


.hero-video {
    margin-top: 50px;
}

.social-proof-img {
    width: 150px;
}

.social-proof-img-p {

width: 843px;
height: 378px;
left: 588px;
top: 1407px;


font-weight: 450;
font-size: 22px;
line-height: 40px;
/* or 262% */


color: #000000;
}

.social-proof{
    margin-top: 50px;
}

.bullet-ul {
    list-style: none;
    font-size: 20px;
    
}

.bullet-ul-li {
    list-style: none;
    font-size: 30px;
    
}


.div-display {
    margin-top: 200px;
}

.btn-display {
    margin-top: 60px;
}

.div-review {
    background-color: #010947;
    color: white;
}

.boxed {
    border: 1px solid #A7A7FF ;
}
/* 
.hero-text {

display: block;
margin-left: auto;
margin-right: auto;


margin-bottom: 0px;
margin-top: 100px;
width: 907px;
height: 156px;
left: 241px;
top: 202px;


font-style: normal;
font-weight: 650;
font-size: 50px;
line-height: 70px;
text-align:center;

color: #010947;
}

.hero-text-span {
    color: #18A0FB;
}

.hero-text-p {


    margin-top: 0px;
    width: 634px;
    height: 7px;
    left: 405px;
    top: 375px;


    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    color: #000000;
}

.btn-getstarted {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

} */