

.hero-body {

    background-image: linear-gradient( #ffff, #bbc2f3);

    /* background-image: linear-gradient(to bottom right, #18A0FB, #7e7ee4); */


}

.hero-div {
    margin-top: 100px;
}
.hero-text {
font-weight: 700;
font-size: 45px;
line-height: 60px;
color: #FFFFFF;
margin-top: 120px;
}

.hero-text-span {
    color: #18A0FB;
}

.hero-text-p {
    margin: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.btn-getstarted {
    margin-top: 40px;
}


.hero-video {
    margin-top: 50px;
}

.social-proof-img {
    width: 150px;
}
.grid-gapp {
 column-gap: 100px;
}

.everyone {
  font-size: 40px;
}

.social-proof-img-p {

width: 843px;
height: 378px;
left: 588px;
top: 1407px;


font-weight: 450;
font-size: 22px;
line-height: 40px;
/* or 262% */


color: #000000;
}

.social-proof{
    margin-top: 50px;
}

ul {
    list-style: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
   
  }

  
  
  ul li:before {
    content: '✓';
    color: #009933;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
   
  }


.bullet-ul-li {
   
    font-size: 30px;
    font-weight: normal;
    margin-top: 50px;

    
}


.div-display {
    margin-top: 200px;
}

.btn-display {
    margin-top: 100px;
}

.div-review {
    background-color: #010947;
    color: white;
    height: 100%;
    padding: 100px 0px 100px 0px;
    margin-top: 80px;
}

.boxed {
    border: 1px solid #A7A7FF ;
   
}


.width-image-rev {
    width: 10;
    height: 300;
}

.review-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.review-name {
    margin-top: 0px;
    line-height: 5px;
    color: #0000FF;

}

.review-header{

    width: 265px;
    height: 60px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    letter-spacing: -0.015em;

    color: #FFFFFF;
}

.review-summary {
    
    /* width: 252px;
    height: 210px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    letter-spacing: -0.015em;

    color: rgba(255, 255, 255, 0.6);

    margin: 50px 0px 50px 0px;

}

.star-icon {
    
    color: #FFCA28;
    font-size: 20px;
}

.text-sub {
    
    
  
    margin-top: 100px;
    text-align: center;
    font-weight: 450;
    font-size: 40px;
    line-height: 40px;
    /* or 62% */
    
    letter-spacing: -0.015em;
    
    color: #000000;
}

.text-sub-p{
    
    

    text-align: center;
    font-size: 20px;
    line-height: 40px;
    /* or 125% */

    letter-spacing: -0.015em;

    color: #000000;
}

.btn-flat-BB {
  font-weight: 600;
  color:white !important;
  
  border-color: #FFFFFF !important;


}

.btn-flat {
    font-weight: 600;
    color:white !important;
    
    border-color: #18A0FB !important;
    /* border-radius: .5rem !important; */
    background-color: #18A0FB !important;
    /* --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)}; */
  }

  .btn-flat:hover,.btn-flat-BB:hover {
    color: #FFFFFF !important;
    background-color: #18A0FB !important;
  }

  .btn-flat-B {

    border-color: #010947 !important;
    color: #010947 !important;
    

  }
  .Header-list{
    font-weight: bold;
    width: 450px;
    margin-top: 20px;
  }

  .btn-flat-B:hover {
    background-color: #18A0FB !important;
    color: #FFFFFF !important;
    border-color: #18A0FB !important;
  }

  .button-placing {
    position: relative;
    right: 120px;
  }

  .button-placing-B {
    position: absolute;
    left: 700px;
    top: 0px;

    /* background-color: red; */
    color: white;

  }

  .btn-flat-C {
    font-weight: 600;
    color:#010947 !important;
    
    border-color: #010947 !important;
    /* border-radius: .5rem !important; */
    background-color:  white !important;
  }

  .btn-flat-C:hover {
    background-color: #c8cdf3 !important;
    color: #FFFFFF !important;
  }

  .bar-coloor {
    height: 100%;
    background-color: #010947;
    padding: 100px;
    margin-top: 50px;
  }

  .bar-coloor-B {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
  }
/* 
.hero-text {

display: block;
margin-left: auto;
margin-right: auto;


margin-bottom: 0px;
margin-top: 100px;
width: 907px;
height: 156px;
left: 241px;
top: 202px;


font-style: normal;
font-weight: 650;
font-size: 50px;
line-height: 70px;
text-align:center;

color: #010947;
}

.hero-text-span {
    color: #18A0FB;
}

.hero-text-p {


    margin-top: 0px;
    width: 634px;
    height: 7px;
    left: 405px;
    top: 375px;


    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    color: #000000;
}

.btn-getstarted {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

} */