

.btn-pricing {
    border-radius: 100px !important;
    padding: 10px !important;
    width: 200px;
}

.btn-pricing-B {
    border-radius: 100px !important;
    padding: 10px !important;
    width: 200px;
    
    

    position: absolute;
    left: -50px;
    top: 0px;

    /* background-color: red; */
    color: white;
}


.button-placing {
    position: relative;
     right: 1px;
  }